.App {
  /* text-align: center; */
  /* position: relative; */
}
.let{
  overflow: hidden; 
  max-height: 290px;
}
.more{
  max-height: auto;

}
.btn-color{
  background-color:  rgb(226, 29, 72) !important;
  padding: 10px 8px !important;
  height: 50px;
  width: 90px ;
}
.btn-color:hover {
  background-color: white !important;
  color: hsl(347deg 77% 50%) !important ;
}
.bg-home{
  background-color: rgb(238, 238, 238) !important;
  padding: 4rem 10rem;
}
.link{

  text-decoration: none;
 
}
.link span{
  font-size: 20px;
}
.link .logo{
  width: 126px;
  height: 50px;
}

.mode{
  width: 50px;
  margin-left: 20px;
  height: 50px;
  padding: 10px;
  /* border: rgb(20, 20, 20) solid 2px;
  outline: #282c34 solid 1px;
  background: #292728 !important; */
  border-radius: 5px !important;
  cursor: pointer;
}
.navbar1{
  position: relative;
  width: 100%;
  /* height: 100px; */
}
.f1{
  width: 50% !important;
  height: auto !important;
  margin: 80px auto;
  border: #bacef8 solid 3px;
  border-radius: 10px;
  padding: 20px;
  background-color: aliceblue;
}
.form{
  width: 100vw;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.667);
  position: absolute;
  top: 15vh;
  left: 0;
  z-index: 55555;
}
.margin-auto{
  margin: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.post-st{
  width: 50rem;
}
.p-st{
  padding: 0 10rem;
  /* border: solid; */
}

.active-pink-4 input[type="search"]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
.active-pink-3 input[type="search"] {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
  height: 50px !important;
  width: 90% !important;
  margin-right: 0!important;
  margin: auto !important;
}
.w-st{
  width: 100%;
}

.img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
}